.tag {
  display: inline-flex;
  color: #fff;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 900;
  margin-left: -8px;
  cursor: pointer;
  font-size: 14px;
}
