.home {
  height: 100vh;
  display: flex;
  // background: url(../../../public/assets/images/background.jpg);
  // background-position: 50%;
  // background-size: cover;
  background: #e1d4be;
  main {
    width: 100%;
    .main {
      margin-top: 20px;
      height: calc(100vh - 82px);
      width: calc(100vw - 250px);
      overflow: auto;
    }
  }
}
