.sidebar {
  max-width: 250px;
  min-width: 250px;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  .img {
    margin: 20px 10px 25px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    img {
      width: 40px;
      height: auto;
      display: block;
    }
    span {
      font-weight: 600;
      font-size: 30px;
      background: linear-gradient(to left, #c68f22, #daaf69);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .menu {
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    a {
      color: #42526e;
      text-decoration: none;
      display: block;

      font-size: 14px;
      font-weight: 600;
    }
  }
  .active {
    background: linear-gradient(to right, #c68f22, #daaf69) !important;
    a {
      color: #fff !important;
    }
  }
  .title {
    margin: 0 5px 10px 15px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    color: #42526e;
    button {
      font-size: 20px;
      border: none;
      background: none;
      cursor: pointer;
      padding: 0px;
      border-radius: 3px;
      &:hover {
        background: #ccc;
      }
      i {
        color: #42526e;
      }
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0 15px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    li {
      padding: 7px 10px;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.2s linear;
      background: transparent;
      a {
        text-decoration: none;
        transition: all 0.2s linear;
        color: #42526e;
      }
      &:hover {
        a {
          display: block;
          color: #fff;
          transform: translateX(3px);
          color: #c68f22;
        }
      }
    }
  }
}
